<h4>Uername:</h4>
<h4>Rating</h4>


<p id="notice"><%= notice %></p>
<%= link_to 'Ongoing', user_path %> <br>
<%= link_to 'Completed', user_path %> <br>
<%= link_to 'Posted', user_path %> <br>

<%= link_to 'Edit', edit_user_registration_path%> |
<%= link_to 'Back', user_path %>
